// input style
.textbox {
  border: 1px solid $border_color;
  border-radius: 3px;
  padding: 7px 10px;
  display: inline-block;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

  &:focus {
    outline: 0;
    // box-shadow: 0 0 5px $light_color;
  }
}
.btn {
  display: inline-block;
  outline: 0;
  color: #fff;
  border-style: none;
  border-radius: 3px;
  padding: 5px 16px;
  text-align: center;

  &:active {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.125);
  }

  &.primary {
    background-color: $primary_color;

    &:disabled, &.disable {
      background-color: $primary_disable_color;
      cursor: auto;
    }
    // &:active, &:hover {
    //   background-color: $primary_color;
    // }
  }
  &.default {
    background-color: #fff;
    color: inherit;
    border: 1px solid $border_color;

    &:active, &:hover {
      background-color: #eee;
    }
  }
}

.clearfix {
  &:before, &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none;
}

.help-text {
  font-size: .8em;
}

// responsive container
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
      width: 750px;
  }
  @media screen and (min-width: 992px) {
      width: 970px;
  }
  @media screen and (min-width: 1200px) {
      width: 1170px;
  }
}

.pull-right {
  float: right !important;
}
