// input style
.textbox {
  border: 1px solid $border_color;
  border-radius: 3px;
  padding: 7px 10px;
  display: inline-block;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

  &:focus {
    outline: 0;
    // box-shadow: 0 0 5px $light_color;
  }
}

.clearfix {
  &:before, &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none;
}

// responsive container
.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
      width: 750px;
  }
  @media screen and (min-width: 992px) {
      width: 970px;
  }
  @media screen and (min-width: 1200px) {
      width: 1170px;
  }
}

.pull-right {
  float: right !important;
}
