.markdown {
  a {
    color: $light_color;
    text-decoration: none;

    &:hover {
      color: #339AFF;
    }
  }

  pre {
    background-color: #eee;
    color: #555;
    border-radius: 3px;
    padding: 10px;
    max-height: 500px;
    overflow: auto;
    border: none;
    font-size: 0.9em;
    line-height: 1.33;

    code {
      font-size: inherit;
      color: inherit;
      padding: 0;
      background-color: transparent;
    }
  }

  code {
    color: #c7254e;
    background-color: #eee;
    font-size: 0.9em;
    padding: 2px 4px;
  }

  blockquote {
    margin: 0;
    padding: 5px 10px 5px 15px;
    border-left: 5px solid $color;
    background-color: #eee;
  }

  table {
    border: 1px solid $border_color;

    thead tr { background-color: #eee; }
    tbody tr {
      border-top: 1px solid $border_color;
      background-color: #fff;
      // &:nth-of-type(odd) { background-color: #fff; }
      // &:nth-of-type(even) { background-color: #eee; }
    }
    th, td {
      padding: 8px;
      border-left: 1px solid $border_color;
    }
  }

  hr {
    border-style: solid;
    border-color: #ccc;
  }
}
