$light_color: #0081FF;
$color: steelblue;
$border_color: #ccc;
$content_lineHeight: 1.5;

// Editor Variables here
$tagbkg: lightblue;
$tagcolor: steelblue;
$toolbarHeight: 37px;
$editor_height: 540px;
$resizer_width: 50px;
